{
	"plugins": ["prettier-plugin-css-order"],
	"experimentalOperatorPosition": "start",
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "strict"
}
